html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.kpn-map-container {
  height: 100vh;
}

.kpn-map-svg {
  width: 100%;
  height: 100%;
  background-color: rgb(61, 56, 56);
}

.kpn-map-line {
  fill: none;
  stroke: blue;
  stroke-width: 2;
  marker: url(#kpn-circle-marker);
}

#kpn-circle-marker circle {
  fill: red;
  stroke: red;
}
